{% extends "base.html" %}

{% load tagging_tags %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/jquery-ui-1.8rc2.custom.css" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8rc2.custom.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#slider").slider({
        range: true,
        values: [1, 10],
        min: 1,
        max: 10,
        stop: function (event, ui) {
          var values = ui.values;
          var i = 0;
          for (i = 0; i < values[0]; ++i) {
            $(".tag-cloud a.tag" + i).fadeOut();
          }
          for (i; i <= values[1]; ++i) {
            if (i != 1) {
              $(".tag-cloud a.tag" + i).fadeIn();
            } else {
              $(".tag-cloud a.tag" + i).show();
            }
          }
          for (i; i > values[1] && i <= 10; ++i) {
            $(".tag-cloud a.tag" + i).fadeOut();
          }
        }
      });
    });
  </script>
{% endblock %}

{% block body %}
	
{% tag_cloud_for_model content.Content as tag_cloud with steps=10 min_count=1 distribution=log %}

<div id="content">
  <div id="slider"></div>
  <ul class="tag-cloud">
    {% for tag in tag_cloud %}
      <li><a class="tag{{ tag.font_size }}" href="{% url aj2-content-tag tag %}">{{ tag }}</a></li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
