{% if commentset %}
<div id="comment-list" class="detailness">
  <a name="comments-int-lnk"></a>
	<h2>Comments</h2>
	{% for c in commentset %}
	<div class="cm {% cycle 'cmalt1' 'cmalt2' %}">
		<div class="cm-name">
			{% if c.url %}
				<a href="{{ c.url }}">{{ c.name }}</a>
      {% else %}
        {{ c.name }}
			{% endif %}	
		</div>
		<div class="cm-body">
			{{ c.comment|linebreaks }}
		</div>
		<div class="cm-date">
			{{ c.submit_date|date:"d M Y, g:m a" }}
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}