<ul class="meta-inf">
  {% if object.file %}
    <li><a href="{{ MEDIA_URL }}{{ object.file }}" target="_blank" class="sprite attach prefix">Download</a></li>
  {% endif %}
  <li>
    <span class="comments">
      <a href="{% url aj2-content-detail object.title_slug %}#disqus_thread"
        data-disqus-identifier="{{ object.title_slug }}">? Comments</a>
    </span>
  </li>
  <li>posted by {{ object.user.first_name|default:"user" }}</li>
  <li>{{ object.date_published|date:"d M Y" }}</li>
</ul>
