<footer>
  <div>
{#    AprilandJake.com &copy; April and Jake &middot;#}
{#    <a href="http://www.djangosites.org/author/jtsnake/">a django site</a>#}
  </div>
 {% comment %} <ul>
    <li>
      <a href="{% url aj2-blog %}">Blog</a>
    </li>
    <li>
      <a href="{% url aj2-photos %}">Photos</a>
    </li>
    <li>
      <a href="{% url aj2-podcast %}">Podcasts</a>
    </li>
    <li>
      <a href="{% url aj2-quotes %}">Quotes</a>
    </li>
    <li>
      <a href="/sitemap.xml">Sitemap</a>
    </li>
  </ul>{% endcomment %}
</footer>
