{% block sidebar %}

{% comment %}
{% block search %}
<div id="search">
  <h3>Search</h3>

  <form action="/searchresults" id="cse-search-box">
    <div>
      <input type="hidden" name="cx" value="003389104713948147243:wfr1adhvkvs"/>
      <input type="hidden" name="cof" value="FORID:11"/>
      <input type="hidden" name="ie" value="UTF-8"/>
      <input type="text" name="q" size="23"/>
      <input type="submit" name="sa" value="Search"/>
    </div>
  </form>
</div>
{% endblock %}
{% endcomment %}



{% endblock %}
