.home
  header.home-header
    h1.home-title
      span.home-name April
        img.home-fam-img(src="/img/april.jpg")
      = ' &amp; '
      span.home-name Jake
        img.home-fam-img(src="/img/jake.jpg")
    h2.home-subtitle
      = '&amp; '
      span.home-name Dallin
        img.home-fam-img(src="/img/dallin.jpg")
      = ' &amp; '
      span.home-name Mackenzie
        img.home-fam-img(src="/img/mackenzie.jpg")
      = ' &amp; '
      span.home-name Alaura
        img.home-fam-img(src="/img/alaura.jpg")

  section.home-section.home-section-video
    ul.home-video-list
      li.home-video-item
        .home-video-item-title
          a.home-video-item-title-link(href="http://www.youtube.com/playlist?list=PLbWbiOD0YMByR_l4GCzD7V3_d54HF9fZ9&feature=view_all") Videos
      li.home-video-item(ng-repeat="vid in youtube.get('videos')")
        a.home-video-item-link(ng-href="{{ vid.video.player.default }}")
          img.home-video-item-thumb(ng-src="{{ vid.video.thumbnail.sqDefault }}", alt="{{ vid.video.title }}")

  a.home-btn(href="http://www.youtube.com/playlist?list=PLbWbiOD0YMByR_l4GCzD7V3_d54HF9fZ9&feature=view_all")
    | I've had some sleep, but I need more.  Enjoy these videos.

