.home
  header.home-header
    h1.home-title
      span.home-name April
        img.home-fam-img(src="/img/april.jpg")
      = ' &amp; '
      span.home-name Jake
        img.home-fam-img(src="/img/jake.jpg")
    h2.home-subtitle
      = '&amp; '
      span.home-name Dallin
        img.home-fam-img(src="/img/dallin.jpg")
      = ' &amp; '
      span.home-name Mackenzie
        img.home-fam-img(src="/img/mackenzie.jpg")
      = ' &amp; '
      span.home-name Alaura
        img.home-fam-img(src="/img/alaura.jpg")

  section.home-section.home-section-video
    ul.home-list
      li.home-item
        .home-item-title
          a.home-item-title-link(href="http://www.youtube.com/playlist?list=PLbWbiOD0YMByR_l4GCzD7V3_d54HF9fZ9&feature=view_all") Videos
      li.home-item(ng-repeat="vid in youtube.get('videos')")
        a.home-item-link(ng-href="{{ vid.video.player.default }}")
          img.home-item-thumb.home-item-thumb-video(ng-src="{{ vid.video.thumbnail.sqDefault }}", alt="{{ vid.video.title }}")

  section.home-section
    ul.home-list
      li.home-item
        .home-item-title
          a.home-item-title-link(href="http://colorwheelie.tumblr.com") Colors
      li.home-item(ng-repeat="cw in colorwheelie.get('wheelies')")
        a.home-item-link(ng-href="{{ cw.post_url }}")
          .home-item-thumb.home-item-thumb-color(ng-style="{ 'background-image': 'url(' + cw.photos[0].alt_sizes[4].url + ')' }")

  section.home-section
    ul.home-list
      li.home-item
        .home-item-title
          a.home-item-title-link(href="https://plus.google.com/photos/115032056022257436849/albums") Cuties
      li.home-item(ng-repeat="photo in photofeed.get('photos')")
        a.home-item-link(ng-href="{{ photo.url }}")
          img.home-item-thumb(ng-src="{{ photo.image.url }}")

  section.home-section
    ul.home-list
      li.home-item
        .home-item-title Family
      li.home-item(ng-repeat="site in sitesfeed.get('sites')")
        a.home-item-link(ng-href="{{ site.url }}")
          img.home-item-thumb.home-item-thumb-site(ng-src="{{ site.image }}", title="{{ site.name }}")