.home
  header.home-header
    h1.home-title
      span.home-name April
        img.home-fam-img(src="/img/april.jpg")
      = ' &amp; '
      span.home-name Jake
        img.home-fam-img(src="/img/jake.jpg")
    h2.home-subtitle
      = '&amp; '
      span.home-name Dallin
        img.home-fam-img(src="/img/dallin.jpg")
      = ' &amp; '
      span.home-name Mackenzie
        img.home-fam-img(src="/img/mackenzie.jpg")
      = ' &amp; '
      span.home-name Alaura
        img.home-fam-img(src="/img/alaura.jpg")

  section.home-section.home-section-video
    ul.home-list.home-video-list
      li.home-item.home-video-item
        .home-item-title.home-video-item-title
          a.home-item-title-link.home-video-item-title-link(href="http://www.youtube.com/playlist?list=PLbWbiOD0YMByR_l4GCzD7V3_d54HF9fZ9&feature=view_all") Videos
      li.home-item.home-video-item(ng-repeat="vid in youtube.get('videos')")
        a.home-item-link.home-video-item-link(ng-href="{{ vid.video.player.default }}")
          img.home-item-thumb.home-video-item-thumb(ng-src="{{ vid.video.thumbnail.sqDefault }}", alt="{{ vid.video.title }}")

  section.home-section.home-section-video
    ul.home-list.home-video-list
      li.home-item.home-video-item
        .home-item-title.home-video-item-title
          a.home-item-title-link.home-video-item-title-link(href="http://colorwheelie.tumblr.com") Colors
      li.home-item.home-video-item(ng-repeat="cw in colorwheelie.get('wheelies')")
        a.home-item-link.home-video-item-link(ng-href="{{ cw.post_url }}")
          img.home-item-thumb.home-video-item-thumb(ng-src="{{ cw.photos[0].alt_sizes[4].url }}")

  a.home-btn(href="http://www.youtube.com/playlist?list=PLbWbiOD0YMByR_l4GCzD7V3_d54HF9fZ9&feature=view_all")
    | I've had some sleep, but I need more.  Enjoy these videos.

