body {
  background-image: url(../images/runner-bg-x.png);
}
#logo {
  display: inline-block;
  margin: 3px 0px 0px 35px;
}
#runner-nav {
  float: right;
  line-height: 34px;
  height: 34px;
  margin-right: 25px;
  list-style: none;
  margin-top: 0px;
}
#runner-nav li {
  float: right;
  margin-left: 10px;
}