<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="eng" style="overflow: hidden;">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block page-title %}Blog Runner{% endblock %} - AprilandJake.com</title>
  {% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/style.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/runner.css" type="text/css"/>
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/friends.js"></script>
    <script type="text/javascript">
      $(function () {
        friend.init_runner();
      });
    </script>
  {% endblock %}
</head>

<body id="{{ section }}" style="margin:0;padding:0;overflow:hidden;height:100%;">
  <div id="runner-hd">
    <a href="{% url aj2-friends %}" id="logo">
      <img src="{{ STATIC_URL }}images/runner-logo.png" alt="Blog Runner" title="AprilandJake.com Blog Runner" />
    </a>
    <ul id="runner-nav">
      <li><a href="{% url aj2-friends %}">Close</a></li>
      <li><a href="javascript:void(0);" class="next">Next</a></li>
      <li>
        <span class="comments">
          <a class="spch-bub-inside runner-site" href="javascript:void(0);">
            <em>Init</em>
            &nbsp;
          </a>
        </span>
      </li>
      <li><a href="javascript:void(0);" class="prev">Previous</a></li>
    </ul>
  </div>

  {% block main %}
    <iframe id="runner-frame" frameborder="0" noresize="noresize" src=""
            style="position:absolute;background:transparent;width:100%;height:100%;top:34px;padding:0;z-index:1;"></iframe>
  {% endblock %}

  {% include "includes/_analytics.html" %}

</body>

</html>