<div class="cn-detail {% block type %}blog{% endblock %}-detail {% block columns %}col-{{ object.columns }}{% endblock %}">
	<h2>
    {{ object.title }}
  </h2>
  {% block file %}{% endblock %}
  <div class="cn-summary">
    {% block summary %}
      {{ object.summary|safe|linebreaks }}    
    {% endblock %}
  </div>
  {% block ss %}
    {% if object.small_section_1 %}
      <div class="cn-ss1">
        {{ object.small_section_1|safe }}
      </div>
    {% endif %}
    {% if object.small_section_2 %}
      <div class="cn-ss2">
        {{ object.small_section_2|safe }}
      </div>
    {% endif %}
  {% endblock %}
  {% if object.gallery.download_link %}
    <div class="cn-ss1">
      <div class="cn-gallery-dwnld">
        <a class="icon download-icon" onclick="javascript:window.location='{{ object.gallery.download_link }}';">Download Album</a>
      </div>
      <div class="clr cn-ss1-clr"></div>
    </div>
  {% endif %}
  {% if object.gallery %}
    <div class="cn-gallery">
      <div id="flashcontent">Flash is busted.  Blast!  Please email Jake and tell him your browser version.</div>
      <script type="text/javascript">
      var so = new SWFObject("/media/flash/xmlGallery.swf", "gallery", "100%", "650", "6", "#FFFFFF");
      so.addVariable("file_to_load", "{{ object.gallery.xml_link }}");
      so.addParam("wmode", "transparent");
      so.write("flashcontent");
      </script>
    </div>
  {% endif %}
  {% block body %}
	{% if object.body %}
		<div class="cn-body">
			{{ object.body|safe|linebreaks }}
		</div>
	{% endif %}
  {% endblock %}
  {% include "includes/_createinfo.html" %}
</div>
