{% extends "collections/base_detail.html" %}

{% block type %}podcast{% endblock %}

{% block ss %}{% endblock %}

{% block file %}
  {% if object.audio_link %}
	  <h3 class="cn-file-title">Listen or Download</h3>
    <div class="cn-file">
      <audio src="{{ object.audio_link }}" controls preload="auto" autobuffer></audio>
    </div>
    <div class="cn-file-download">
	    <a target="_blank" href="{{ object.audio_link }}">Download</a>
	  </div>
	{% endif %}
{% endblock %}

	{% block summary %}

		<h3 class="cn-summary-title">Teaser</h3>
		{{ object.summary|safe|linebreaks }}

	{% endblock %}


{% block body %}
	{% if object.body %}
		<div class="cn-body">
			<h3 class="cn-body-title">Topics</h3>
			{{ object.body|safe|linebreaks }}
		</div>
	{% endif %}
    {% if object.small_section_2 %}
		<div class="cn-ss2">
			<h3 class="cn-ss2-title">Bumper Music</h3>
			{{ object.small_section_2|safe }}
		</div>
	{% endif %}
	{% if object.small_section_1 %}
		<div class="cn-ss1">
			<h3 class="cn-ss1-title">Length</h3>
			{{ object.small_section_1|safe }}
		</div>
	{% endif %}
{% endblock %}
