{% extends "admin/change_form.html" %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
<ul class="object-tools">
	<li><a href="history/" class="historylink">History</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">View on Site</a>	
</li>{% endif%}
	<li><a href="{% url aj2-gallery-gen-xml object_id %}" title="Generate album XML">Generate XML</a></li>
	<li><a href="{% url aj2-gallery-dwnld-zip object_id %}" title="Download album zip">Download Zip</a></li>
  </ul>
{% endif %}{% endif %}
{% endblock %}

