{% extends "layout.html" %}

{% block content %}
  <div id="video-pane">
    <iframe width="640" height="390" frameborder="0" title="YouTube" type="text/html"
      ng-src="http://www.youtube.com/embed/[[videos[0].video.id]]?enablejsapi=1"></iframe>
  </div>

  <ul class="thumbnails videos">
    <li class="span12" ng-repeat="vid in videos">
      <div class="thumbnail" ng-click="playVideo(vid.video.id)">
        <img ng-src="[[vid.video.thumbnail.sqDefault]]" alt="[[vid.video.title]]">
        <h3>[[vid.video.title]]</h3>
        <div>[[vid.video.updated| date:'dd MMM yyyy']]</div>
      </div>
    </li>
  </ul>
{% endblock %}

{% block bottom %}

{% endblock %}