<!DOCTYPE html>

<html lang="en" ng-app="aj">

<head>
  <title>{% block title %}AprilandJake.com{% endblock %}</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css' />

  <link rel="icon" type="image/png" href="/img/favicon.png" />

  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="//www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="/js/main.js"></script>

  {% block head %}{% endblock %}

</head>
<body ng-controller="MainCtrl">

  <header class="jumbotron header">
    <div class="container-fluid">
      <h1>April, Jake <span class="and">&amp; the Bunch</span></h1>
      <p class="lead">Rain is falling all around</p>
      <!--<p class="lead">Will you be mine?  Won't you be mine?  Won't you be my neighbor?</p>-->
      <!--<p class="lead">Our adventure.  Our circus.  Our family.</p>-->
    </div>
  </header>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <footer>
    {% block footer %}
      &copy 2012 April &amp; Jake - Powered by the Web
    {% endblock %}
  </footer>

{% block bottom %}{% endblock %}

</body>
</html>


