<!DOCTYPE html>

<html lang="en" ng-app="aj">

<head>
  <title>{% block title %}AprilandJake.com{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css" media="all">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">

  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script type="text/javascript" src="//www.youtube.com/iframe_api"></script>
  <script type="text/javascript" src="/js/main.js"></script>


  {% block head %}{% endblock %}

</head>
<body ng-controller="MainCtrl">

  <header class="jumbotron">
    <div class="container-fluid">
      <h1>April, Jake, Dallin, &amp; Mackenzie</h1>
      <p class="lead">Our adventure.  Our circus.  Our family.</p>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <footer>
    {% block footer %}
      &copy 2012 April &amp; Jake - Powered by the Web
    {% endblock %}
  </footer>

{% block bottom %}{% endblock %}

</body>
</html>


