object,
iframe,
img {
  max-width: 100%;
}
a {
  color: #00B7FF;
}


.videos {
  list-style: none;
  max-width: 640px;
  .thumbnail {
    cursor: pointer;
    overflow: hidden;
    &:hover {
      background: #efefef;
    }
  }
  [class*="span"] {
    margin-left: 0;
  }
  img {
    float: left;
    margin: 0 15px 0 0;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}