{% extends "comments/base.html" %}

{% load comments %}
  
{% block title %}Preview your comment{% endblock %}

{% block content %}
<div id="comments" class="detailness">
  {% if form.errors %}
    <p class="error">Please correct the error{{ form.errors|pluralize }} below</p>
  {% else %}
    <h1 class="preview-comment">Preview your comment</h1>
    <blockquote>{{ comment|linebreaks }}</blockquote>
    <!--<div class="prev-and-post">
      <form action="{% comment_form_target %}" method="post">
        and <input type="submit" name="submit" value="Post your comment" id="submit"> or make changes:
      </form>
    </div>-->
  {% endif %}
  {% include "comments/form.html" %}
</div>
  
{% endblock %}
