html
  background: #e3f5ab
  background-image: linear-gradient(#f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%)
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover

body
  background: transparent

.home
  color: #efefef
  text-shadow: 0 1px 0 #ababab, 1px 0 0 #ababab, -1px -1px 0 #fff

  .home-title
  .home-subtitle
    font-family: $title-font-family

  .home-title
    font-size: 160px