*
  box-sizing: border-box

html
  background: #e3f5ab
  background-image: linear-gradient(#f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%)
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover

body
  background: transparent

.home
  color: #efefef

.home-title
.home-subtitle
  font-family: $title-font-family
  text-shadow: 0 1px 0 #ababab, 1px 0 0 #ababab, -1px -1px 0 #fff

.home-title
  font-size: 200px

.home-subtitle
  font-size: 80px

.home-name
  position: relative
  display: inline-block
  cursor: default

  .home-fam-img
    position: absolute
    left: 50%
    top: 0
    height: 200px
    width: 200px
    margin-left: -100px
    border-radius: 50%
    transform: scale(0)
    transition: 400ms all

  &:hover

    .home-fam-img
      transform: scale(1)

.home-subtitle
  .home-fam-img
    top: -60px

.home-btn
  display: inline-block
  margin-top: 100px
  padding: 20px 40px
  font-family: $title-font-family
  font-size: 30px
  line-height: 1em
  text-decoration: none
  color: #b7df2d
  background: #fff
  border-radius: 10px

// Sections
.home-section
  margin-top: 20px

.home-list
  display: block
  max-width: 1078px
  margin: 0 auto
  padding: 0
  list-style: none
  text-align: left

.home-item
  display: inline-block
  margin: 4px
  height: 90px
  width: 90px
  border-radius: 50%
  overflow: hidden
  background: darken(#b7df2d, 20%)

.home-item-title
  line-height: 90px
  text-align: center
  font-size: 12px
  font-weight: light
  text-transform: uppercase

.home-item-title-link
  display: block
  width: 100%
  height: 100%
  color: $white
  text-decoration: none

  &:hover
    text-decoration: none

.home-item-link
  display: block

.home-item-thumb
  background-position: center
  background-repeat: no-repeat
  background-size: cover

// Videos Section
.home-section-video
  margin-top: 100px

.home-item-thumb-video
  margin-left: -15px

// Colorwheelie Section
.home-item-thumb-color
  width: 90px
  height: 90px

// Sites Section
.home-item-thumb-site
  width: 90px


