$black = #000
$gray-darker = #222
$gray-dark = #333
$gray = #555
$gray-light = #999
$gray-lighter = #EEE
$white = #FFF

$brand-primary = #85d63b
$brand-secondary = #ffae22

$body-background = $gray image-path('textures/grey_wash_wall.png') repeat 0 0
$text-color = $white
$text-color-light = lighten($text-color, 40%)
$text-color-dark = $gray
$border-color = #CCC
$selection-color = $gray-lighter

$link-color = $brand-primary
$link-color-hover = darken($link-color, 15%)

$sans-font-family = 'Average Sans', "Helvetica Neue", Helvetica, Arial, sans-serif
$serif-font-family = 'Roboto Slab', Georgia, "Times New Roman", Times, serif
$mono-font-family = Monaco, Menlo, Consolas, "Courier New", monospace

$base-font-size = 16px
$base-font-family = $sans-font-family
$base-line-height = 24px

$input-background = $white
$input-border = $border-color
$placeholder-text = $gray-light

$body-width = 1000px
$col-edge-padding = 10px
$horz-padding = 20px
$vert-padding = 20px
$modal-vert-padding = $base-line-height
$modal-horz-padding = 20px

$z-modal-backdrop = 1040
$z-modal = 1050
$z-modal-body = 1060
$z-modal-header = 1070

$bp-min-sm = "screen and (min-width: 481px)"
$bp-min-med = "screen and (min-width: 769px)"
$bp-min-lrg = "screen and (min-width: 1020px)"
