{% extends "base.html" %}

{% block styles %}
  {{ block.super }}
  <style type="text/css">
    #photos {
      padding: 42px 0 0 66px;
    }
    .floor h1 {
      margin: 0 0 12px 12px;
    }

    .loading {
      margin: 3px 0 0 48px;
      height: 16px;
      width: 16px;
      background: url({{ STATIC_URL }}images/ajax-loader.gif) no-repeat center;
    }
    .album {
      display: inline-block;
      margin: 50px;
      position: relative;
      cursor: pointer;
    }
    .album img {
      position: absolute;
      top: 0;
      left: 0;
      border: 4px solid #fff;
      -webkit-box-shadow: 2px 2px 4px #000;
      -moz-box-shadow: 2px 2px 4px #000;
      box-shadow: 2px 2px 4px #000;
      height: 152px;
      width: 152px;
    }
    .album .pile {
      position: relative;
      height: 152px;
      width: 152px;
    }
    .album .pile img {
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
    .album p {
      position: relative;
      text-align: center;
      display: block;
      width: 152px;
      text-shadow: 1px 2px 2px #000;
      font-size: 16px;
    }
    .photos {
      display: none;
      list-style: none;
    }
    .photo {
      float: left;
      display: block;
      margin: 12px;
      height: 288px;
      width: 288px;
      text-align: center;
    }
    .photo img {
      margin: 0 auto;
      border: 4px solid #fff;
      -webkit-box-shadow: 2px 2px 4px #000;
      -moz-box-shadow: 2px 2px 4px #000;
      box-shadow: 2px 2px 4px #000;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
    .photo img:hover {
      -moz-transform: scale(1.1) rotate(4deg);
      -webkit-transform: scale(1.1) rotate(4deg);
      -o-transform: scale(1.1) rotate(4deg);
      -ms-transform: scale(1.1) rotate(4deg);
      transform: scale(1.1) rotate(4deg);
    }
    .photo:nth-child(2n+1) img:hover {
      -moz-transform: scale(1.05) rotate(-3deg);
      -webkit-transform: scale(1.05) rotate(-3deg);
      -o-transform: scale(1.05) rotate(-3deg);
      -ms-transform: scale(1.05) rotate(-3deg);
      transform: scale(1.05) rotate(-3deg);
    }
  </style>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/sammy.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.photopeek.js"></script>
  
  {% include "includes/tmpl/gallery.html" %}
  {% include "includes/tmpl/album.html" %}
  {% include "includes/tmpl/img.html" %}
  {% include "includes/tmpl/photo.html" %}

{% endblock %}

{% block bottom-scripts %}
  <script type="text/javascript">

    var photos = $.sammy(function () {
      this.element_selector = ".floor";

      this.get("#/photos", function (context) {
        context.app.swap(album.loading);
        $.ajax({
          method: "GET",
          url: "http://picasaweb.google.com/data/feed/base/user/trent.jake?alt=json&kind=album&hl=en_US&access=public",
          dataType: "jsonp",
          success: function (data) {
            context.app.swap('');
            context.$element().append('<h1>Photos</h1>').append($("#gallery-tmpl").tmpl(data.feed.entry))
          },
          error: function () {
            context.app.swap(album.error);
          }
        });
      });

      this.get("#/album/:albumid", function (context) {
        context.app.swap(album.loading);
        var albumid = this.params['albumid'];
        $.ajax({
          method: "GET",
          url: "http://picasaweb.google.com/data/feed/base/user/trent.jake/albumid/" + albumid + "?alt=json&amp;kind=photo&amp;hl=en_US",
          dataType: "jsonp",
          success: function (data) {
            context.app.swap('');
            context.$element().append($("#album-tmpl").tmpl(data.feed));
          },
          error: function () {
            context.app.swap(album.error);
          }
        });
      });

    });

    var album = {
      error: 'Kersplat.  The Internetz broke.',
      loading: '<div class="loading">&nbsp;</div>',
      parseId: function (href) {
        var id = href.substring(href.indexOf("/albumid/") + 9, href.indexOf("?"));
        return id;
      }
    };

    $(function () {
      photos.run("#/photos");
    });
  </script>
{% endblock %}

{% block main %}
  <div class="floor">
    Loading...
  </div>
{% endblock %}
