{% extends "admin/change_list.html" %}

{% block content %}
<script type="text/javascript" src="{{ MEDIA_URL }}/scripts/jquery.js"></script>
<noscript><a href="{% url picasa-refresh-photos %}" title="Update the database to include new photos" onclick="javascript:return confirm('This may take a while.  Are you sure?');">Refresh database</a></noscript>
<ul class="object-tools"><li></li></ul>
{{ block.super }}
<script type="text/javascript">
$('.object-tools').html('<li><a href="{% url picasa-refresh-photos %}" title="Update the database to include new photos" onclick="javascript:return confirm(\'This may take a while.  Are you sure?\');">Refresh database</a></li>');
</script>
{% endblock %}
