<div style="background: #233F1A url('/static/images/ajax-loader3.gif') center center no-repeat; display: block; height: 140px; width: 160px; margin: auto; border: 3px solid #74816C;">
    <div id="picasa-random-photo" style="background: transparent url('{{ photo.image }}') center center no-repeat; display: block; height: 100%; width: 100%;">
        <a href="{{ photo.url }}" id="picasa-random-photo-link" style="text-decoration: none; display: block; height: 100%; width: 100%;" title="View this image">&nbsp;</a>
    </div>
</div>