body {
  font-family: arial, verdana;
  font-size: .8em;
  text-align: left;
  background-color: #25262b;
  color: #fff;
  margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
  color: #fff;
  letter-spacing: 1px;
}
a, a:visited, a:hover {
  color: #fff;
}
ul, ol {
  margin-left: 0px;
  padding-left: 0px;
}


.clr {
  clear: both;
}
.main {
  position: relative;
  padding: 12px 10px 20px 80px;
  width: 620px;
  background: rgba(0,0,0,.5);
  margin-left: 100px;
  overflow: auto;
  z-index: 1;
}

#title {
	width: 141px;
	height: 516px;
  text-indent: -996em;
  position: fixed;
  top: -2px;
  left: 33px;
  z-index: 2;
}
#title a {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../images/aj8-ribbon.png) no-repeat center top;
}


.mainnav {
  list-style: none;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 513px;
  left: 50px;
}
.mainnav li a {
  height: 35px;
  width: 35px;
  display: block;
  text-indent: -996em;
}
.mainnav .photos {
  background: url('../images/iconmap.png') no-repeat -19px -220px;
}
.mainnav .photos:hover {
  background: url('../images/iconmap.png') no-repeat -63px -220px;
}
.mainnav .friends {
  background: url('../images/iconmap.png') no-repeat -20px -258px;
}
.mainnav .friends:hover {
  background: url('../images/iconmap.png') no-repeat -64px -258px;
}
.mainnav .tags {
  margin-top: 6px;
  background: url('../images/iconmap.png') no-repeat -21px -301px;
}
.mainnav .tags:hover {
  background: url('../images/iconmap.png') no-repeat -65px -301px;
}

#photos #title {
  left: 33px;
}
#photos .mainnav {
  left: 111px;
}
#photos .floor {
  padding-left: 121px;
}

.rand-pile {
  position: absolute;
  top: 0px;
  left: 0px;
}
.rand-pile img {
  position: absolute;
  border: 5px solid #fff;
  -webkit-box-shadow: 2px 2px 4px #000;
  -moz-box-shadow: 2px 2px 4px #000;
  box-shadow: 2px 2px 4px #000;
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
  opacity: 0;
  margin: 10px;
}

.cn-list {
  padding: 10px;
  margin: 10px;
  width: 260px;
  float: left;
  overflow: auto;
}
.cn-list h2 {
  margin: 0;
  font-size: 24px;
}
.cn-list h2 a {
  padding: 10px 0;
  text-decoration: none;
  border-bottom: 3px solid #35BCDA;
  display: block;
  -webkit-transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -ms-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}
.cn-list h2 a:hover {
  border-bottom-color: #9be0f0;
}
.meta-inf {
  list-style: none;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #303138;
  color: #848c94;
  display: inline-block;
  height: 50px;
}
.meta-inf li {
  float: left;
  margin-right: 10px;
}
.meta-inf li a {
  color: #848c94;
}


.detailness {
  margin: 10px;
}
.cn-detail {
  width: 260px;
}
.error, .errorlist {
  color: #e42121;
  font-weight: bold;
}
.cn-detail .cn-gallery {
  width: 600px;
  height: 640px;
}

.col-3 { width: 260px; }
.col-6 { width: 560px; }
.col-9 { width: 860px; }

.quote-list .cn-ss1 {
  text-align: right;
}
.quote-list .cn-ss1:before {
  content:"-"
}
.quote-list .cn-ss2 {
  text-align: right;
  color: #aaa9a9;
  font-size: 10px;
}
.photos-list .cn-image {
  text-align: center;
}
.photos-list .cn-image a {
  border: 5px solid #fff;
  margin: 15px;
  display: inline-block;
  overflow: auto;
}
.photos-list .cn-image a:hover {
  border: 5px solid #cbf6ff;
}



#mid-links {
  margin: 38px 39px 0 18px;
  padding: 10px;
  background: #35BCDA;
  overflow: auto;
}
#mid-links h3 {
  font-weight: bold;
}
#mid-links ul {
  list-style: none;
  float: right;
}
#mid-links ul li {
  float: right;
  margin-left: 7px;
}

#tags #content {
  width: 600px;
}
.tag-cloud {
  width: 560px;
  padding: 0 20px;
}
#slider {
  margin: 25px 150px;
}
.tag-cloud li {
  display: inline;
  margin-right: 10px;
}
.tag-cloud li a { text-decoration: none; vertical-align: bottom; }
.tag-cloud a.tag1 { font-size: 0.9em; font-weight: 100; }
.tag-cloud a.tag2 { font-size: 1.0em; font-weight: 200; }
.tag-cloud a.tag3 { font-size: 1.1em; font-weight: 300; }
.tag-cloud a.tag4 { font-size: 1.2em; font-weight: 400; }
.tag-cloud a.tag5 { font-size: 1.4em; font-weight: 500; }
.tag-cloud a.tag6 { font-size: 1.6em; font-weight: 600; }
.tag-cloud a.tag7 { font-size: 1.8em; font-weight: 700; color: #CFF7FF; }
.tag-cloud a.tag8 { font-size: 2.0em; font-weight: 800; color: #CFF7FF; }
.tag-cloud a.tag9 { font-size: 2.4em; font-weight: 900; color: #8FECFF; }
.tag-cloud a.tag10 { font-size: 2.6em; font-weight: 900; color: #8FECFF; }

.runner {
  position: absolute;
  top: 44px;
  right: 30px;
  font-size: 12px;
  color: #8FECFF;
  padding-left: 24px;
  background: url(../images/star-fav.png) no-repeat 3px 0px;
}
.runner a img  {
  border: none;
}

.friend-list {
  overflow: auto;
  margin: 29px 18px;
  font-size: 16px;
  list-style: none;
}
.friend-list li {
  overflow: auto;
}
.friend-list .name {
  cursor: pointer;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 18px;
  float: left;
  width: 160px;
}
.friend-list .projs {
  padding: 4px 8px;
  list-style: none;
  margin-left: 15px;
  float: left;
}
.friend-list .projs .fav {
  height: 0px;
  padding-top: 16px;
  width: 16px;
  display: inline-block;
  overflow: hidden;
}
.friend-list .projs li:hover .fav {
  background: url(../images/star-empty.png) no-repeat center;
}
.friend-list .projs .fav.faved {
  background: url(../images/star-fav.png) no-repeat center;
}
.friend-list .projs li:hover .fav:hover {
  background: url(../images/star-add.png) no-repeat center;
}
.friend-list .projs li:hover .fav.faved:hover {
  background: url(../images/star-rm.png) no-repeat center;
}
.friend-list .projs a {
  margin-right: 7px;
  height: 25px;
  line-height: 25px;
  color: #8FECFF;
  text-decoration: none;
}
.friend-list .projs a:hover {
  color: #00b0d4;
  text-decoration: underline;
}

.podcast-detail .cn-file-title,
.podcast-detail .cn-summary-title,
.podcast-detail .cn-body-title,
.podcast-detail .cn-ss2-title,
.podcast-detail .cn-ss1-title {
  margin-top: 20px;
  font-size: 18px;
  color: #35BCDA;
}
.podcast-detail .cn-file {
  margin: 5px 0 10px 0;
}