doctype 5
html(ng-app="aj")
  head
    title AprilandJake.com

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href='/static/aj.css')
    script(src='/static/aj.js', type='text/javascript')

  body(ng-controller="AppCtrl")
    ng-view

